In [105]:
import requests
from bs4 import BeautifulSoup

USA = "https://www.worldometers.info/coronavirus/usa/california/"
html = requests.get(USA)

soup = BeautifulSoup(html.text, 'lxml')

In [106]:
# table = soup.find("table", attrs={"id" : "usa_table_countries_today"})
# head = table.thead.find_all("tr")
# head

table = soup.find("table", attrs={"id" : "usa_table_countries_today"})
head = table.tbody.find_all("tr")
head[1]

<tr style="">
<td style="font-weight: bold; font-size:15px; text-align:left;">
Los Angeles </td>
<td style="font-weight: bold; text-align:right">580,325 </td>
<td style="font-weight: bold; text-align:right;">
</td>
<td style="font-weight: bold; text-align:right;">
8,664 </td>
<td style="font-weight: bold; text-align:right;"> </td>
<td style="text-align:right;font-weight:bold;">
N/A </td>
<td style="text-align:right;font-weight:bold;">
4,265,732 </td>
<td style="text-align:right;font-size:12px;">
<nobr>[<a class="source" href="http://publichealth.lacounty.gov/media/Coronavirus/data/index.htm" target="_blank">county</a>] </nobr>[<a class="source" href="https://public.tableau.com/views/COVID-19CasesDashboard_15931020425010/Cases?:embed=y&amp;:showVizHome=no" target="_blank">state</a>]  </td>
</tr>

In [107]:
headings = []
for i in range(len(head)):
    county = []
    for i, th in enumerate(head[i].find_all('td')):
        if i == 7:
            continue
        value = th.text.replace('\n','').strip()
        if value == "" or value == 'N/A':
            value = 0
        if i != 0 and type(value) is str:
            letter = ''
            for char in value:
                if char ==',':
                    continue
                letter += char
            letter = letter.strip()
            value = int(letter)
        county.append(value)
    headings.append(tuple(county))
headings


# headings = []
# for

[('California Total', 1759876, 0, 22146, 0, 1016753, 28456358),
 ('Los Angeles', 580325, 0, 8664, 0, 0, 4265732),
 ('San Bernardino', 144455, 0, 1323, 0, 22562, 1405918),
 ('Riverside', 135751, 0, 1708, 0, 62504, 1403242),
 ('San Diego', 116852, 0, 1239, 0, 30710, 2373395),
 ('Orange', 115260, 0, 1731, 0, 43523, 1789453),
 ('Kern', 55801, 0, 476, 0, 35902, 307692),
 ('Sacramento', 53185, 0, 727, 0, 14621, 840862),
 ('Santa Clara', 52414, 0, 566, 0, 51848, 1614126),
 ('Fresno', 49173, 0, 557, 0, 21874, 517191),
 ('Alameda', 40751, 0, 574, 0, 0, 1176749),
 ('San Joaquin', 35010, 0, 556, 0, 4750, 0),
 ('Contra Costa', 33072, 0, 290, 0, 5831, 726907),
 ('Stanislaus', 30534, 0, 490, 0, 6078, 293616),
 ('Ventura', 28643, 0, 207, 0, 3182, 310661),
 ('Tulare', 27790, 0, 346, 0, 5525, 0),
 ('Monterey', 21107, 0, 167, 0, 8597, 157457),
 ('Imperial', 20003, 0, 394, 0, 2475, 101629),
 ('San Mateo', 19645, 0, 183, 0, 0, 313829),
 ('San Francisco', 19624, 0, 172, 0, 0, 1017667),
 ('Sonoma', 15768, 0, 166, 0, 4252, 345071),
 ('Merced', 15443, 0, 207, 0, 3623, 84796),
 ('Solano', 14713, 0, 93, 0, 2223, 151566),
 ('Santa Barbara', 14190, 0, 145, 0, 1120, 297782),
 ('Kings', 14073, 0, 101, 0, 4276, 112902),
 ('Placer', 10554, 0, 98, 0, 2921, 192208),
 ('Marin', 8804, 0, 136, 0, 772, 228590),
 ('Madera', 8441, 0, 111, 0, 2293, 116615),
 ('San Luis Obispo', 8269, 0, 56, 0, 1645, 0),
 ('Shasta', 7000, 0, 65, 0, 528, 104849),
 ('Yolo', 6649, 0, 99, 0, 0, 65973),
 ('Santa Cruz', 6536, 0, 64, 0, 1805, 92398),
 ('Butte', 5765, 0, 74, 0, 805, 108704),
 ('Sutter', 5290, 0, 39, 0, 830, 0),
 ('Napa', 4544, 0, 26, 0, 2628, 123349),
 ('El Dorado', 4412, 0, 8, 0, 1643, 87871),
 ('Lassen', 3742, 0, 7, 0, 1238, 11662),
 ('Yuba', 3122, 0, 14, 0, 586, 0),
 ('San Benito', 2687, 0, 23, 0, 450, 22582),
 ('Tehama', 2627, 0, 31, 0, 775, 20622),
 ('Nevada', 2149, 0, 34, 0, 534, 31800),
 ('Mendocino', 2108, 0, 24, 0, 340, 38875),
 ('Tuolumne', 2076, 0, 19, 0, 785, 19900),
 ('Amador', 1693, 0, 19, 0, 0, 16000),
 ('Lake', 1375, 0, 21, 0, 163, 21005),
 ('Humboldt', 1374, 0, 15, 0, 391, 51366),
 ('Glenn', 1254, 0, 12, 0, 104, 0),
 ('Colusa', 1050, 0, 8, 0, 168, 9612),
 ('Siskiyou', 1001, 0, 8, 0, 88, 16220),
 ('Calaveras', 821, 0, 22, 0, 244, 0),
 ('Mono', 702, 0, 3, 0, 0, 0),
 ('Del Norte', 605, 0, 2, 0, 132, 11315),
 ('Inyo', 468, 0, 19, 0, 117, 11864),
 ('Plumas', 385, 0, 1, 0, 82, 6475),
 ('Modoc', 265, 0, 0, 0, 75, 6145),
 ('Trinity', 245, 0, 2, 0, 29, 4988),
 ('Mariposa', 185, 0, 4, 0, 12, 10645),
 ('Alpine', 64, 0, 0, 0, 5, 0),
 ('Sierra', 32, 0, 0, 0, 7, 0),
 ('Alameda - Berkeley', 0, 0, 0, 0, 0, 0),
 ('Yuba-Sutter', 0, 0, 0, 0, 0, 0)]